# Dependencies
node_modules/

# Build output
.dist/
dist/
.astro/
.vercel/

# Local env and system files
.DS_Store
.env
.env.*

# Project files not meant for git
.github/skills/
docs/

# Optional local editor artifacts
.vscode/

# VS Code/Copilot local artifacts
. copilotignore
